/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS UTILI */
body {
    font-family: sans-serif;
    background-color: lightgray;
}

.container {
    width: 60%;
    background-color: whitesmoke;
    margin: 20px auto;
    border-radius: 5px;
}

.list {
    border-top: 1px solid lightgray;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    vertical-align: middle;
}

.check, .cross {
    font-size: 0.7em;
    padding-left: 3px;
}

.check {
    color: green;

}

.cross {
    color: red;
}

ul .style {
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 0.6em;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-violet {
    background-color: violet;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}

.bg-yellow {
    background-color: yellowgreen;
}
/* CSS HEADER */
.header {
    background-color: white;
    padding: 10px 20px;
}

img {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

h1 {
    font-size: 2em;
    line-height: 50px;
    display: inline-block;
}

/* CSS MAIN */
main section {
    padding: 5px 10px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    color: lightgrey;
    font-size: 0.6em;
    margin-bottom: 5px;
}

.btn.btn-blue {
    background-color: dodgerblue;
    color: white;
}

ul {
    margin-top: 20px;
    list-style-type: none;
}

h2 {
    font-size: 0.9em;
}

li {
    line-height: 15px;
    font-size: 0.8em;
    padding: 10px 0;
}